*{
    font-family: 'Roboto' sans-serif ;
}
header{
    position: relative;
}
nav{
    min-height: 53px;
    background: #212121;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.menu .menu_item {
    border-right: 2px solid rgb(104, 58, 58);
    padding-right: 28px;
}
.fixed_menu{
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
}
.fixed_menu .row{
    padding: 20px 0px;
}
.fixed_menu .uber_moskov .uber_text{
    font-weight: 200;
    font-size: 13px;
    color: #fff;
}
.fixed_menu .contact_text{
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #fff;
}
.fixed_menu .contact_number{
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.fixed_menu .call_me{
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.promo{
    min-height: 600px;
    background: url('../img/uber_bg.jpg') center center/cover no-repeat ;
    padding: 155px 0px 75px 0px;
}
.promo .promo_title{
    display: block;
    margin: 0 auto;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 0;
    color: #fff;
    opacity: .900;
}
.promo .promo_subtitle{
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 22px;
    opacity: .900;
}
.promo .promo_text{
    display: block;
    width: 985px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 20px 0px 110px 0px;
    opacity: .900;
    color: #fff;
}
.promo .send_reqest{
    display: block;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border-radius: 8px;
    font-weight: normal;
    font-size: 18px;
    align-items:center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}
.advanteges{
    padding: 18px 0px 65px 0px;
    min-height: 770px;
    background-color: rgba(67, 67, 68, 0.1);
}
.advanteges h3{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #222;
}
.advantage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
.advantage_item{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background: #1EACC7;
    margin-right: 25px;
}
.advantage_block_text{
    display: flex;
    width: 370px;
    min-height: 195px;
    align-items: center;
}
.advantage_text{
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}
.advantage_text span{
    color: #1EACC7;
}